<<<<<<< HEAD
<div class="container">
  <h1>Welcome</h1>
  <h3>Here's the list of all your recipes</h3>
    <%@recipes.each do |el|%>
    <% link = "/recipes/#{el.id}"%>
    <p><a href="<%=link%>"><%=el.name%></a></p>
    <% end %>
</div>
=======
<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <% @user.each do |el| %>
      <p><a><%=@user.name%></a></p>
       
    <% end %>
  </body>
</html>
>>>>>>> 52c415a86f46d0700099550fd114a94e5e173d7d
