<h1>All recipes</h1>
<table>
  <thead>
    <th>Name</th>
    <th>ingredients</th>
    <th>cook_time</th>
    <th>Action</th>
  </thead>
  <tbody>
    <% @recipes.each do |r| %>
      <tr>
        <td><%= r.name %></td>
        <td><%= r.ingredients %></td>
        <td><%= r.cook_time %></td>
        <td><a href="/recipes/<%= r.id %>"</td>
      </tr>
    <% end %>
  </tbody>
</table>
