<div class="container">
  <form method="POST" action="/recipes">
    <p>Recipe Name: <input name="name" type="text"></p>
    <p>Ingredients: <textarea name="ingredients"></textarea></p>
    <p>Date: <input type="date" name="cook_time"></p>
    <input type="submit" value="Submit">
  </form>

</div>
